/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================
http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css
*/

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid #af0;
    color: #fff;
    background: #000;
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*
color: #af0;
  border-bottom-color: #ccc;
  font-weight: normal;
  font-weight: 100;
  text-shadow: 0 0 15px #af0, 0 0 2px #fff;
  border-bottom: 1px solid #333;
*/

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
    margin-left: 30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
    margin-right: 30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
    content: "";
    position: absolute;
    bottom: -20px;
    /* value = - border-top-width - border-bottom-width */
    left: 40px;
    /* controls horizontal position */
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #5a8f00;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

.mitad {

    width: 50%;
}

/* creates the smaller  triangle */

.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -13px;
    /* value = - border-top-width - border-bottom-width */
    left: 47px;
    /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */

.triangle-border.top:before {
    top: -20px;
    /* value = - border-top-width - border-bottom-width */
    bottom: auto;
    left: auto;
    right: 40px;
    /* controls horizontal position */
    border-width: 0 20px 20px;
}

/* creates the smaller  triangle */

.triangle-border.top:after {
    top: -13px;
    /* value = - border-top-width - border-bottom-width */
    bottom: auto;
    left: auto;
    right: 47px;
    /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width: 0 13px 13px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */

.triangle-border.left:before {
    top: 10px;
    /* controls vertical position */
    bottom: auto;
    left: -30px;
    /* value = - border-left-width - border-right-width */
    border-width: 15px 30px 15px 0;
    border-color: transparent #af0;
}

/* creates the smaller  triangle */

.triangle-border.left:after {
    top: 16px;
    /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom: auto;
    left: -21px;
    /* value = - border-left-width - border-right-width */
    border-width: 9px 21px 9px 0;
    border-color: transparent #000;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */

.triangle-border.right:before {
    top: 10px;
    /* controls vertical position */
    bottom: auto;
    left: auto;
    right: -30px;
    /* value = - border-left-width - border-right-width */
    border-width: 15px 0 15px 30px;
    border-color: transparent #af0;
}

/* creates the smaller  triangle */

.triangle-border.right:after {
    top: 16px;
    /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom: auto;
    left: auto;
    right: -21px;
    /* value = - border-left-width - border-right-width */
    border-width: 9px 0 9px 21px;
    border-color: transparent #000;
}

/* End HTML5 Boilerplate adaptations */

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    padding: 5px;

}

.flexbox-container > div {
    width: 50%;
    padding: 10px;
    text-align: left;


}

.flexbox-container > div:first-child {
    margin-right: 20px;
}

.reveal .nombre {
    position: absolute;
    /*  bottom: 0em;*/
    left: 0em;
    top: 5em;

    font-size: 1em;
    color: white;
    text-align: left;
    text-shadow: 0 0 15px #fff, 0 0 2px #fff;

}


.reveal .nombrebajo {
    position: relative;
    /*  bottom: 0em;*/
    left: 0em;
    top: 5em;

    font-size: 1em;
    color: white;
    text-align: left;
    text-shadow: 0 0 15px #fff, 0 0 2px #fff;

}

.bajo {
    position: relative;
    /*  bottom: 0em;*/
    left: 0em;
    top: 3.3em;

    font-size: 1em;
    color: white;
    text-align: left;
    text-shadow: 0 0 15px #fff, 0 0 2px #fff;

}

.fitch {
    text-align: left;
    letter-spacing: -1.8px;
    line-height: 350%;

}

.nombre {

    text-align: left;
    text-shadow: 0 0 15px #fff, 0 0 2px #fff;
    /*    padding: 35px;*/
}

.reveal .footer {
    position: absolute;
    top: 30em;

    font-size: 0.5em;
    color: white;
    text-align: left;


}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.section .table {
    border: none;
}

.example-twitter {
    position: relative;
    /*  padding:15px;*/
    margin: 100px 0 0.5em;
    color: #333;
    background: #eee;
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 50%;
}

.highlight {
    background-color: #af0;

    color: black;
}

.highlightred {

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 5px 0;

}

.leftblack {
    color: #fff;
    background: #000;
    box-shadow: 5px 0 0 #000, -5px 0 0 #000;
    padding: 5px 0;
    text-align: left;
}

.highlightpink {
    color: #fff;
    background: #ff0062;
    box-shadow: 5px 0 0 #000, -5px 0 0 #000;
    padding: 5px 0;
}

.sobrenegro {
    color: #fff;
    background: rgba(0, 0, 0, 0.76);
    border: 1px solid red;

}

.highlightblack {

    background: #ccc;
    box-shadow: 5px 0 0 #ccc, -5px 0 0 #ccc;
    padding: 5px 0;
    color: black;
}


.rojo {
    color: red !important;
}

.verde {
    color: green !important;
}

.azul {
    color: blue !important;
}

.amarillo {
    color: yellow !important;
}


div.img {
    margin: 0px;
    float: left;
    width: 180px;
    border: none;
}

div.img img {
    width: 100%;
    height: auto;
    border: 5px solid #ccc;
}

div.desc {
    padding: 15px;
    text-align: center;
}


/*MAKE A POST-IT*/

.postit {
    color: black;
    line-height: 1;
    width: 275px;
    margin: 25px;
    min-height: 250px;
    max-height: 250px;
    padding-top: 35px;
    position: absolute;
    border: 1px solid #E8E8E8;
    border-top: 60px solid #fdfd86;
    font-family: 'Reenie Beanie' !important;
    font-size: 12px;
    text-align: center;
    border-bottom-right-radius: 60px 5px;
    display: inline-block;
    background: #ffff88;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ffff88), color-stop(82%, #ffff88), color-stop(82%, #ffff88), color-stop(100%, #ffffc6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    transform: rotate(-2deg)
}

.postit:after {
    transform: rotate(-2deg) content: "";
    position: absolute;
    z-index: -1;
    right: -10px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

/*para ubicar en cautro esquinas*/

.cuatrocuadros {
    width: 50%;
    height: 50%;
    float: left;
    margin: 50px;
}

/*para ubicar en dos esquinas*/

.doscuadros {
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

.trescuadros {
    width: 33%;
    height: 100%;
    float: left;
    padding: 10px;
}

/*para agregar a las postit*/

.segundamitad {
    width: 100%;
    height: 50%;
    float: left;
}

/*para agregar a las postit*/

.marco {
    min-height: 100%;
    position: relative;


}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

p.left {
    text-align: left
}


div.transbox {
    margin: -10px;
    background-color: #000;
    opacity: 0.75;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
}

div.transbox ul {
    margin: 3%;
    color: #000000;
}

/*para acomodar las tablas de links semanales*/

.semanario td {
    text-align: center !important;
    width: 1000;
    height: 350;
}



/*para hacer el typewritter effect
/* DEMO-SPECIFIC STYLES */

.typewriter h2 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .11em;
    /* Adjust as needed */
    animation: typing 9.5s steps(20, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

.bloque {
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    padding: 20px;
    /* Some padding */
}

.encimoso {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 20px;
    /* Some padding */
}
